* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #421820;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    background: #bfabcb;
}

a {
    color: #a3bac3;
    word-spacing: 0;
    box-sizing:border-box;
    margin: 2;
}

button {
    background-color: #bfabcb;
    text-emphasis-color: #421820;
    box-shadow: inset;
}